body {
  font-family: Arial;
}

.card {
  max-width: 400px;
  margin: auto;
  border-radius: 15px;
}

button {
  border-radius: 10px;
}

.seccion {
  background: #222;
  padding: 15px;
  border-radius: 10px;
}
